$black:  #000112;
$darkGrey: #2B2C37;
$mediumGrey: #828FA3;
$lines: #E4EBFA;
$lightGrey: #F4F7FD;
$white: #FFFFFF;
$mainPurple: #635FC7;
$mainPurpleHover: #A8A4FF;
$secondaryPurple: rgba(99, 95, 199, 0.1);
$red: #EA5555;
$redHover: #FF9898;

$medium: 768px;
$large: 1280px;