@import "../../UI/variables.scss";

.add-comment {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: $medium) {
    gap: 20px;
  }

  &__text-area {
    flex-grow: 1;
    padding: 8px;
    resize: none;
    border: 1px solid $lines;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;

    &:focus {
      border: none;
      outline: 1px solid $mediumGrey;
    }
  }

  &__button {
    padding: 10px 18px;
    background-color: $mainPurple;
    color: $white;
    border-radius: 24px;
  }
}
